.post-1, .post-2, .post-3 {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    margin:20px;
    border-radius: 25px;
    padding: 20px;
}

.post-1 img {
    height: 225px;
    width: 225px;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    margin: 15px;
}

.post-2 img {
    height: 225px;
    width: 225px;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    margin: 15px;
}

.post-3 img {
    height: 225px;
    width: 225px;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    margin: 15px;
}

.blog-posts h2 {
    font-size: 30px;
}

.blog-posts h2 a {
    text-decoration: none;
    color: mediumvioletred;
}